<aside class="">
    <div class="aside-content">
        <div class="aside-page main-page active">
            <div class="author">
                <div class="cover">
                    <img th:with="img = ${#strings.isEmpty(theme.config.sidebar.iemo_cover_author) ? '/themes/theme-iemo/assets/images/cover-author.jpg' : theme.config.sidebar.iemo_cover_author}"
                         th:src="${img}" alt="">
                </div>
                <div class="author-info">
                    <div class="avatar">
                        <img th:src="${theme.config.sidebar.iemo_avatar_author}">
                    </div>
                    <div class="name" th:text="${theme.config.sidebar.iemo_name_author}"></div>
                    <div class="des" th:text="${theme.config.sidebar.iemo_des_author}"></div>
                    <div class="post-info" th:with="stats = ${siteStatsFinder.getStats()}">
                        <div class="posts">
                            <i>文章</i>
                            <span th:text="${stats.post}"></span>
                        </div>
                        <div class="tags" th:with="tags = ${tagFinder.listAll()}">
                            <i>标签</i>
                            <span th:text="${tags.size}"></span>
                        </div>
                        <div class="notes" th:if="${pluginFinder.available('PluginMoments')}"
                             th:with=" moment = ${momentFinder.listAll()}">
                            <i>说说</i>
                            <span th:text="${moment.size()}"></span>
                        </div>
                    </div>
                </div>
                <div th:if="${theme.config.sidebar.iemo_aside_page.iemo_aside_subpage}" class="aside-btn-open">查看更多<i
                        class="iconfont icon-chevron-right"></i></div>
            </div>
            <th:block th:if="${theme.config.post.iemo_toc}">
                <div class="toc">
                    <h2>目录<span style="margin-left: 0.5rem;">Toc.</span></h2>
                    <ul></ul>
                </div>
            </th:block>
            <th:block
                    th:if="${theme.config.sidebar.iemo_aside_moment && pluginFinder.available('PluginMoments') && not #lists.isEmpty(momentFinder.listAll())}">
                <div class="notes-box">
                    <h2>说说<span style="margin-left: 0.5rem;">Notes.</span></h2>
                    <ul>
                        <li th:each="moment : ${momentFinder.listAll()}" th:with="content=${moment.spec.content}">
                            <div class="notes-content">
                                <p th:utext="${content.raw}"></p>
                            </div>
                            
                            <div class="notes-info">
                                <div class="time">
                                    <span th:text="${#dates.format(moment.spec.releaseTime,'yyyy年MM月dd日')}"></span>
                                </div>
                            </div>
                            <div class="view-detail"><a th:href="${'/moments/'+moment.metadata.name}">查看详情</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:if="${theme.config.sidebar.iemo_aside_page.iemo_aside_comments}">
                <div class="new-comments">
                    <h2>评论 <span>Comments.</span></h2>
                    <th:block th:replace="~{modules/inc/aside-comments}" />
                </div>
            </th:block>
            <!-- 自定义区域 -->
            <th:block th:if="${not #lists.isEmpty(theme.config.sidebar.iemo_aside_adv.iemo_aside_adv_enable)}">
                <div class="social">
                    <h2 style="float: left;" th:text="${theme.config.sidebar.iemo_aside_adv.iemo_aside_adv_title}">
                    </h2>
                    <span class="adv"
                          th:text="${theme.config.sidebar.iemo_aside_adv.iemo_aside_adv_title_sec} + '.'"></span>
                    <div class="">
                        <ul class="menu">
                            <img class="iemo_aside_adv"
                                 th:src="${theme.config.sidebar.iemo_aside_adv.iemo_aside_adv_src}">
                        </ul>
                    </div>
                </div>
                <style>
                    .adv {
                        font-size: 12px;
                        font-weight: 400;
                        color: #999;
                        margin-left: 0.5rem;
                    }
                </style>
            </th:block>
        </div>
        <th:block th:replace="~{modules/inc/aside-sub-page}"/>
    </div>
</aside>
