<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: layout(_content = ~{::content},_title = ${title},_footer = ~{::footer},_head = ~{::head})}">
<th:block th:fragment="head">
    <link rel="stylesheet" th:href="@{/assets/css/single.css?v={version}(version=${theme.spec.version})}">
    <link rel="stylesheet" th:href="@{/assets/static/fancybox/fancybox.css}">
</th:block>
<th:block th:fragment="content">
    <div class="container note">
        <th:block th:replace="~{modules/header}" />
        <script>
            $('header .menu ul li.note').addClass('current-menu-item');
        </script>
        <main>
            <th:block th:replace="~{modules/inc/nav}" />
            <div class="content">
                <article>
                    <h2>说说 <span>Notes.</span></h2>
                    <div class="note-bar">
                        <ul>
                            <li>
                                <a href="/moments" th:class="${#lists.isEmpty(param.tag) ? 'active' : ''}">全部</a>
                            </li>
                            <li th:each="tag,iStat : ${tags}">
                                <a th:href="|/moments?tag=${tag.name}|"
                                    th:class="${#lists.contains(param.tag, tag.name) ? 'active' : ''}"
                                    th:text="${tag.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="note-page">
                        <ul>
                            <li th:each="moment,iStat : ${moments}">
                                <div class="top">
                                    <div class="left">
                                        <img th:src="${moment.owner.avatar}">
                                    </div>
                                    <div class="right">
                                        <div class="note-author" th:text="${moment.owner.displayName}"></div>
                                        <div class="note-date"
                                            th:text="${#dates.format(moment.spec.releaseTime,'yyyy年MM月dd日 HH:mm')}">
                                        </div>
                                    </div>
                                </div>
                                <div class="center" th:with="content=${moment.spec.content}">
                                    <div class="notes-content" th:utext="${content.html}"></div>

                                    <th:block th:if="${not #lists.isEmpty(content.medium)}">
                                        <div th:class="|moment-media medium-${content.medium.size}|">
                                            <th:block th:each="media : ${content.medium}">
                                                <div class="moment-media-item">
                                                    <img th:if="${#strings.equals(media.type,'PHOTO')}"
                                                        class="rounded-lg " th:src="${media.url}" loading="lazy">
                                                    <video th:if="${#strings.equals(media.type,'VIDEO')}"
                                                        th:src="${media.url}" width="100%" height="auto"
                                                        controls="true"></video>
                                                </div>
                                            </th:block>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="bottom">
                                    <a th:href="${'/moments/'+moment.metadata.name}"><i
                                            class="iconfont icon-message-square"></i>查看原文</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <th:block th:replace="~{modules/inc/ajax/ajax-note-page}" />
                </article>
                <th:block th:replace="~{modules/aside}" />
            </div>
        </main>
    </div>

</th:block>

<th:block th:fragment="footer">
    <script>
        let postImg = document.querySelectorAll('.center img');
        if (postImg) {
            let postImgUrl = [];
            $(postImg).each(function (i) {
                postImgUrl[i] = $('<a data-fancybox="gallery"></a>').attr('href', $(postImg[i]).attr('src'));
                postImg[i].parentNode.replaceChild($(postImgUrl[i])[0], postImg[i]);
                $(postImg[i]).appendTo($(postImgUrl[i])[0]);
            })
        }
    </script>

    <script th:src="@{/assets/static/fancybox/fancybox.umd.js}"></script>
</th:block>

</html>