<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{modules/layout :: layout(_content = ~{::content},_title = ${singlePage.spec.title},_footer = ~{::footer},_head = null)}">
<th:block th:fragment="content">
    <link rel="stylesheet" th:href="@{/assets/css/single.css?v={version}(version=${theme.spec.version})}">
    <link rel="stylesheet" th:href="@{/assets/static/fancybox/fancybox.css}">
    <style>
        .single .post-content > *:last-child {
            margin-bottom: 20px;
        }
    </style>
    
    <div class="container link">
        <th:block th:replace="~{modules/header}"/>
        <main>
            <th:block th:replace="~{modules/inc/nav}"/>
            <div class="content" th:with="groups = ${linkFinder.groupBy()}">
                <article>
                    <h2>友人帐 <span>Friends.</span></h2>
                    <div class="single">
                        <div class="post-content">
                            <th:block th:utext="${singlePage.content.content}"></th:block>
                        </div>
                    </div>
                    <div class="link-box">
                        <ul>
                            <th:block th:each="group,iterStat : ${groups}">
                                <li th:each="link : ${group.links}">
                                    <a th:href="${link.spec.url}" target="_blank">
                                        <div class="left">
                                            <img th:src="${link.spec.logo}" alt="">
                                        </div>
                                        <div class="right">
                                            <h3 th:text="${link.spec.displayName}"></h3>
                                            <p th:title="${link.spec.description}"></p>
                                        </div>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <th:block
                            th:replace="~{modules/inc/halo-comment :: halo-comment(name=${singlePage.metadata.name},kind='SinglePage',group='content.halo.run')}">
                    </th:block>
                </article>
                <th:block th:replace="~{modules/aside}"/>
            </div>
            <th:block th:replace="~{modules/footer}"/>
        </main>
    </div>

</th:block>

<th:block th:fragment="footer">
    <script>
        let postImg = document.querySelectorAll('.post-content .wp-block-image img');
        if (postImg) {
            let postImgUrl = [];
            $(postImg).each(function (i) {
                postImgUrl[i] = $('<a data-fancybox="gallery"></a>').attr('href', $(postImg[i]).attr('src'));
                postImg[i].parentNode.replaceChild($(postImgUrl[i])[0], postImg[i]);
                $(postImg[i]).appendTo($(postImgUrl[i])[0]);
            })
        }
    </script>
    <script th:src="@{/assets/static/fancybox/fancybox.umd.js}"></script>
</th:block>

</html>
