<th:block
    th:if="${theme.config.basic.recommend_post.iemo_recommend_show == 'regular' && not #strings.isEmpty(theme.config.basic.recommend_post.post_show)}"
    th:with="post_show = ${theme.config.basic.recommend_post.post_show}">
    <script th:if="${post_show.size>1}">
        $(`
          <style>
          .home article .top .regular {
            grid-template-columns: 1fr;
          }
          .home article .top .regular .regular-box a {
            height: 300px;
            margin-bottom: 15px;
          }
          .home article .top .regular .regular-box h2 {
            font-size: 18px;
          }
          .home article .top .regular .regular-box p {
            font-size: 15px;
          }
          .home article .top .regular .regular-box a .regular-post-info {
            padding: 0 30px 30px 30px;
          }
          .home article .top .regular .regular-box:last-child {
            display: block;
          }

          @media screen and (max-width: 700px) {
            .home article .top .regular .regular-box a {
              height: 280px;
              margin-bottom: 15px;
            }
            .home article .top .regular .regular-box h2 {
              font-size: 16px;
            }
            .home article .top .regular .regular-box p {
              font-size: 14px;
            }
          }
          @media screen and (max-width: 600px) {
            .home article .top .regular .regular-box a {
              height: 260px;
              margin-bottom: 10px;
            }
            .home article .top .regular .regular-box a .regular-post-info {
              padding: 0 20px 20px 20px;
            }
          }
          @media screen and (max-width: 500px) {
            .home article .top .regular .regular-box a {
              height: 180px;
            }
            .home article .top .regular .regular-box h2 {
              font-size: 15px;
            }
          }
          </style>
        `).appendTo('head');
    </script>
    <script th:if="${post_show.size>2}">
        $(`
          <style>
          .home article .top .regular {
            grid-template-columns: 1fr 1fr;
          }
          .home article .top .regular .regular-box a {
            height: 240px;
          }

          @media screen and (max-width: 1200px) {
            .home article .top .regular .regular-box a {
              height: 220px;
            }
          }
          @media screen and (max-width: 800px) {
            .home article .top .regular .regular-box a {
              height: 200px;
            }
          }
          @media screen and (max-width: 700px) {
            .home article .top .regular .regular-box:last-child {
              display: block;
            }
            .home article .top .regular .regular-box a {
              height: 170px;
            }
          }
          @media screen and (max-width: 600px) {
            .home article .top .regular .regular-box a {
              height: 150px;
            }
          }
          @media screen and (max-width: 500px) {
            .home article .top .regular {
              grid-template-columns: 1fr;
            }
            .home article .top .regular .regular-box:last-child {
              display: none;
            }
            .home article .top .regular .regular-box a {
              height: 180px;
            }
          }
          </style>
        `).appendTo('head');
    </script>
    <div class="top">
        <div class="regular">
            <th:block th:each="postShow,iter : ${post_show}">
                <div class="regular-box" th:with="post = ${postFinder.getByName(postShow.post)}">
                    <a th:href="@{${post.status.permalink}}">
                        <img th:with="img = ${#strings.isEmpty(post.spec.cover) ? theme.config.post.iemo_cover_post : post.spec.cover}"
                         th:src="${img}" alt="">
                        <div class="regular-post-info">
                            <h2 th:text="${post.spec.title}"></h2>
                        </div>
                    </a>
                    <p></p>
                    <th:block th:if="${not #strings.isEmpty(post.status.excerpt)}">
                        <p th:text="${post.status.excerpt}"></p>
                        <p></p>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>

</th:block>